@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}

/* .container {
  width: 1280px;
  padding: 0 65px;
  margin: 0 auto;
} */

.container {
  width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER  */

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .header .container {
  display: flex;
} */

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
  position: relative;
}

/* .current {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.current::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:  #3350e9;
} */

.header-nav-link::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: opacity 450ms ease-in-out, transform 450ms ease-in-out;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.header-social-list {
  display: flex;
  gap: 10px;
}
.header-social-item {
  width: 36px;
  height: 36px;
}
/* .header-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
}

.header-social-link:hover,
.header-social-link:focus {
  border: 1px solid rgba(51, 80, 233, 0.1);
}

.header-social-link:hover > .header-social-icon,
.header-social-link:focus > .header-social-icon {
  fill: #3350e9;
} */

.header-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  color: #0c0c0c;
}

.header-social-icon {
  fill: currentColor;
}

.header-social-link:hover,
.header-social-link:focus {
  border: 1px solid rgba(51, 80, 233, 0.1);
  color: #3350e9;
}
.hero {
  padding-top: 80px;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.hero-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.88;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
  max-width: 597px;
}
.hero-accent {
  color: #3350e9;
}
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 480px;
}
.hero-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}
.contact {
  padding: 50px 0;
}

.heading-two {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-base {
  border-radius: 50px;
  width: 580px;
  height: 556px;
  background-color: #f3f3f3;
  padding: 50px 60px;
}

.contact-paragraphs {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 32px;
}

.contact-input-label {
  margin-bottom: 18px;
  display: block;
}

.contact-input {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 18px;
  width: 100%;
  height: 52px;
  background-color: transparent;
  outline: transparent;
}

.contact-textarea-label {
  display: block;
  margin-bottom: 32px;
}

.contact-textarea {
  height: 90px;
  padding: 16px;
  resize: none;
}

.contact-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.contact-button-submit {
  border-radius: 16px;
  min-width: 160px;
  height: 52px;
  background-color: #3350e9;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
}
/*reviews*/
.reviews {
  padding-top: 50px 0;
}
.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.reviews-list {
  display: flex;
  gap: 20px;
}
.reviews-item {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 32px 36px;
  width: calc((100% - 40px) / 3);
}
.reviews-item-img {
  margin: 0 auto;
}
.reviews-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}
.reviews-item-desc {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
  text-align: center;
}
/*test*/
.feedbacks-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.feedbacks-item {
  width: 100%;
}
.feedbacks-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
}
.stars {
  display: flex;
  gap: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.star-filled svg {
  fill: #3ac04c;
}

.star-empty svg {
  fill: #dcdcdc;
}
@media screen and (min-width: 768px) {
  .feedbacks-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .feedbacks-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .feedbacks-item {
    width: calc((100% - 24px * 3) / 4);
  }
}
